<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-5.3.1/css/bootstrap.min.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body style="height: 100vh;">
    {% include 'components/navbar.html'   %}

    {% block content %}{% endblock %}
    

    <script src="{{ url_for('static', filename='vendor/bootstrap-5.3.1/js/bootstrap.bundle.js') }}"></script>
    {% block js %}
        
    {% endblock %}
    <script>
        document.addEventListener('keydown', function(event) {
            if (event.key === "F3") {
                event.preventDefault();
                var searchQuery = document.getElementById("searchQuery").value;
                if (searchQuery) {
                    window.location.href = "/search?search_query=" + searchQuery;
                }
            }
        });
    </script>
</body>
</html>