{% extends 'layout/default.html' %}

{% block title %}
    SFE
{% endblock %}

{% block content %}



    <div class="container" style="padding-top: 130px;">


            <div class="card mt-5">
                <div class="card-header text-center">
                    <h2 class="font-weight-bold m-0">ข้อความทั้งหมด</h2>
                </div>
                <div class="card-body">
                    <input id="xxinput" class="form-control w-100" type="search" placeholder="Search">
                </div>
                <div class="card-body pt-0">
                    <div class="d-none" id="default">
                        {{ content|safe }}
                    </div>
                    <div id="output">
                        {{ content|safe }}
                    </div>
                </div>
            </div>
        </div>

    </div>



    <script>
        function highlight(searchText) {
            const default_content = document.getElementById('default').innerHTML;
            const regExp = new RegExp(searchText, 'g');
            const highlightedContent = default_content.replace(regExp, '<span style="background-color: yellow;">$&</span>');
            document.getElementById('output').innerHTML = highlightedContent;
        }
        document.getElementById("xxinput").addEventListener("input", (e) => {
            highlight(e.target.value)
        })
    </script>



{% endblock %}

